@page
@model PrivacyModel
@{
    ViewData["Title"] = "Comunicate";
}

<style>
    body{
        background-color:dimgrey;
    }
    input{
        display:inline-flex;
        background-color:lightgray;
        border-radius: 3cm;
    }
    button{

        background-color:aliceblue;
        border-radius : 3cm;
    }
    label{
        color:white;
    }

</style>
<h1>@ViewData["Title"]</h1>


@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    string alertClass = Model.Mensaje.StartsWith("🎉") ? "alert-success" : "alert-danger";

    <div class="alert @alertClass" role="alert">
        @Html.Raw(Model.Mensaje)
    </div>
}
<form method="POST" action="">
</form>

<hr />
<form method="POST" action="">
    <h2>Registrate con nostros:</h2>
    <label>Nombre</label>
    <input type ="text" name="nombre" placeholder="Ingresa tu nombre"/>
    <br />
    <br />
    <label>Apellidos</label> 
    <input type="text" name="apellido" placeholder="Ingresa tus apellidos" />
    <br />
    <br />
    <label>Telefono</label>
    <input type="number" name="telefono" placeholder="Ingresa su telefono" />
    <br />
    <br />
    <label>Correo</label>
    <input type="email" name="correo" placeholder="Ingrese su email" />
    <br />
    <br />
    <label>Direccion</label>
    <input type="text" name="direccion" placeholder="Domicilio" />
    <br />
    <br />
    <label>Fecha de registro</label>
    <input type="datetime" name="fecha_registro" placeholder="Nacimiento" /> <br />
    <br />
    <button type ="submit">Registrate y con genero</button>
</form>
<br />
<br />
<form method="POST" action="" id="form1">
    <h2>Selecciona tu genero:</h2>
    <label>Genero</label>
    <select>
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
        <option value="Forumula_1">Formula 1</option>
            
    </select>
    
</form>


